/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript&plugins=line-numbers+show-language */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #999;
}
.namespace {
  opacity: .7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.function {
  color: #DD4A68;
}
.token.regex,
.token.important,
.token.variable {
  color: #e90;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}
pre.line-numbers > code {
  position: relative;
}
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
pre[class*='language-'] {
  position: relative;
}
pre[class*='language-'] > code[data-language] {
  overflow: scroll;
  max-height: 28em;
  display: block;
}
pre[class*='language-'] > code[data-language]::before {
  content: attr(data-language);
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}
section {
  padding: 3rem 0;
  position: relative;
}
section.major {
  border-top: 3px solid #7fdbff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0ece8), color-stop(1, white));
  background-image: -o-linear-gradient(bottom, #f0ece8 0%, white 100%);
  background-image: -moz-linear-gradient(bottom, #f0ece8 0%, white 100%);
  background-image: -webkit-linear-gradient(bottom, #f0ece8 0%, white 100%);
  background-image: -ms-linear-gradient(bottom, #f0ece8 0%, white 100%);
  background-image: linear-gradient(to bottom, #f0ece8 0%, white 100%);
  color: #7fdbff;
  height: 75vh;
  padding: 1rem 6rem;
}
section.major > div {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
section.major h1 {
  font-weight: 900;
}
section.major h2 {
  font-weight: 300;
  margin-bottom: 3rem;
  color: #303030;
}
section.major code {
  display: inline-block;
  margin-bottom: 1rem;
}
section {
  padding: 1rem 6rem;
}
a,
a:visited {
  text-decoration: none;
}
a.button,
a:visited.button {
  color: #303030;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  font-weight: bold;
}
h1 {
  font-size: 4rem;
  font-weight: 300;
}
h1 span {
  color: #303030;
}
h2 {
  font-size: 2rem;
  font-weight: 900;
}
footer {
  background-color: #303030;
  color: #7fdbff;
  text-align: center;
  padding: 3rem;
}
footer a {
  color: #7fdbff;
  font-weight: 900;
}
[class*='column-'] {
  background-color: #e5f8ff;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.column-12 > div {
  flex: 1;
}
.horizontal-box,
.vertical-box > div {
  background-color: #7fdbff;
  width: 4rem;
  height: 4rem;
}
.positioning .make-snippet > div {
  background-color: #f0ece8;
  width: 7rem;
  height: 7rem;
}
.positioning .make-snippet > div > div {
  background-color: #7fdbff;
  width: 2rem;
  height: 2rem;
}
